$primary-color:#F5989D;

body{ 
  overflow-x:hidden ;
}

a { 
  text-decoration: none !important ;
  color: black !important ;
}

.blog-container { 
  margin: 0px 250px;
}

.space-100 { 
  height:100px;
}
.space-50 { 
  height:50px;
}
.space-40 { 
  height:40px;
}
.space-30 { 
  height:30px;
}
.space-20 { 
  height:20px;
}
.space-10 { 
  height:10px;
}

